* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
}

.container {
    flex: 2;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 0; /* Permite que o container encolha abaixo da largura do conteúdo */
}

.fixed-container {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 500px;
    overflow-y: auto;
    min-width: 0; /* Permite que o container encolha abaixo da largura do conteúdo */
}

h1, h2 {
    text-align: center;
}

#taskInput {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    max-width: 100%;
}

#addTaskBtn {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background: #e2e2e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permite que o conteúdo se ajuste em telas menores */
}

.pin-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    flex: 0 0 auto; /* Mantém o botão de fixar no tamanho original */
}

.pinned {
    background-color: #ffe6cc;
}

/* Media queries para responsividade */
@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }
    
    .container, .fixed-container {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }
    
    #taskInput {
        width: 65%;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding: 10px;
    }
    
    .container, .fixed-container {
        padding: 15px;
    }
    
    #taskInput {
        width: 60%;
    }
    
    #addTaskBtn {
        padding: 10px 5px;
    }
    
    li {
        flex-wrap: wrap;
    }
}
